.banner {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: center;
}

form {
  display:flexbox;
  justify-content: center;
  width: 400px;
  align-items: center;
}

form label{
  display: block;
  padding: 10px;
  justify-content: center;
  display: flex;
  justify-content: space-around;
}




